<back>
  <references>
    <name>References</name>
    <references>
      <name>Normative References</name>
      
      <xi:include href="https://www.rfc-editor.org/refs/bibxml/reference.RFC.8174.xml"/>
      <!-- The recommended and simplest way to include a well known reference -->
      
    </references>

    <references>
      <name>Informative References</name>
      
      <reference anchor="RFC2119" target="https://www.rfc-editor.org/info/rfc2119">
      <!-- Manually added reference -->
        <front>
          <title>Key words for use in RFCs to Indicate Requirement Levels</title>
          <author initials="S." surname="Bradner" fullname="S. Bradner">
            <organization/>
          </author>
          <date year="1997" month="March"/>
          <abstract>
            <t>In many standards track documents several words are used to signify the requirements in the specification. These words are often capitalized. This document defines these words as they should be interpreted in IETF documents. This document specifies an Internet Best Current Practices for the Internet Community, and requests discussion and suggestions for improvements.
            </t>
          </abstract>
        </front>
        <seriesInfo name="BCP" value="14"/>
        <seriesInfo name="RFC" value="2119"/>
        <seriesInfo name="DOI" value="10.17487/RFC2119"/>
      </reference>
      
      <reference anchor="exampleRefMin">
      <!-- Example minimum reference -->
        <front>
          <title>Title</title>
          <author initials="Initials" surname="Surname">
            <organization/>
          </author>
          <date year="2006"/>
        </front>
      </reference>

      <reference anchor="exampleRefOrg" target="http://www.example.com/">
      <!-- Example reference written by an organization not a person -->
        <front>
          <title>Title</title>
          <author>
            <organization>Organization</organization>
          </author>
          <date year="1984"/>
        </front>
      </reference>       
      
    </references>
  </references>
  
  <section>
    <name>Appendix 1</name>
    <t>This becomes an Appendix</t>
  </section>

  <section anchor="Acknowledgements" numbered="false">
    <!-- an Acknowledgements section is optional -->
    <name>Acknowledgements</name>
    <t>This template uses extracts from templates written by Pekka Savola, Elwyn Davies and 
      Henrik Levkowetz.</t>
  </section>
  
  <section anchor="Contributors" numbered="false">
    <!-- a Contributors section is optional -->
    <name>Contributors</name>
    <t>Thanks to all of the contributors.</t>
    <contact fullname="Jane Doe" initials="J" surname="Doe"><!-- https://authors.ietf.org/en/rfcxml-vocabulary#contact-->
      <!-- including contact information for contributors is optional -->
      <organization>Acme</organization>
      <address>
        <email>jdoe@example.com</email>
      </address>
    </contact>
  </section>
  
</back>