<section anchor="Contributors" numbered="false">
  <!-- a Contributors section is optional -->
  <name>Contributors</name>
  <t>Thanks to all of the contributors.</t>
  <contact fullname="Jane Doe" initials="J" surname="Doe"><!-- https://authors.ietf.org/en/rfcxml-vocabulary#contact-->
    <!-- including contact information for contributors is optional -->
    <organization>Acme</organization>
    <address>
      <email>jdoe@example.com</email>
    </address>
  </contact>
</section>