<section anchor="Acknowledgements" numbered="false">
  <!-- an Acknowledgements section is optional -->
  <name>Acknowledgements</name>
  <t>This template uses extracts from templates written by Pekka Savola, Elwyn Davies and 
    Henrik Levkowetz.</t>
</section>